/vendor/
/bower_components/
/node_modules/
/.idea
/docroot/
/build/
.DS_Store
npm-debug.log
.eslintcache
/.env
*.pyc
db.sqlite3
*local_settings.py
/.vscode
/Include
/Lib
/Scripts
/tcl

miav
venv
myvenv
media
.media
*media
/media/
*media_devel
/media_devel/
.media_devel
local_settings.py
.local_settings
npm-debug.log
.npm-debug.log
.nvmrc
libpng12.so.0
